/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  background-color: #b2dfdb !important;
}

 .down{
  margin-top: 100px;
  position: relative;
 }

.left{
  float: left!important;
}
.fontstyle{
 font-family: 'Quicksand', sans-serif;
 /*font-family: 'Sedgwick Ave Display', cursive;*/
 
 font-size: 50px;
}
.fontstyle1{
 font-family: 'Dosis', cursive; 
 
 font-weight: bold;
}
.fontstyle2{
 font-family: 'Dosis', cursive; 
 
 letter-spacing: 0.2em;
}
.size1{
  height: 1000px !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}
.vcenter{
  vertical-align: center;
  margin-top: 150px;
  font-size: 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
.color{
  
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@font-face {
font-family: "Simplifica";
src: url("css/fonts/SIMPLIFICA Typeface.eot");
src: 
url("css/Simplifica/SIMPLIFICA Typeface.woff") format("woff"),
url("css/Simplifica/SIMPLIFICA Typeface.otf") format("opentype"),
url("css/Simplifica/SIMPLIFICA Typeface.svg#filename") format("svg");
}
